/****  GENERAL ****/

html, body {
    margin: 1;
    padding: 0;
   
    
}

div, a, header, footer, nav, article, section , main , body{
    display: flex;
   
    flex-direction: column;
    
}

img, video {
    width: 100%;
}
main {
    background-color: blue; 
}
.colonne {
    flex-direction: column;
}

.center {
    justify-content: center;
    align-items: center;
}   


.orange{
    margin:1em; 
    
  height:20vh; 
   background-color:orange;
}
.grisJaune{
display: flex;
flex-direction: row;

}
.gris{
    margin-left:1em; 
  height:50vh; 
   background-color:grey;
   flex : 1; 
}
.espaceV{
    flex: 0.1;
}
.jaune{
    margin-right:1em; 
  height:50vh; 
   background-color:yellow;
   flex : 3 ;
}
.vert{
    margin:1em; 
  height:20vh; 
   background-color:green;
}