/****  GENERAL ****/

html,
body {
    margin: 0;
    padding: 0;


}

div,
a,
header,
footer,
nav,
article,
section,
main,
body {
    display: flex;

    flex-direction: column;

}

img,
video {
    width: 100%;
}

main {
    border: 5px solid blue;
    background-color: white;
}

.colonne {
    flex-direction: column;
}

.center {
    justify-content: center;
    align-items: center;
}

.espaceH {
    display: flex;
    flex: 0.5;
}

.orange {
    height: 10vh;
    border: 5px solid orangered;
    background-color: white;
    margin: 2vh;
}

.BleuBleu {
    display: flex;
    flex-direction: row;
    margin-left: 1em;
    margin-right: 1em;
    height: 20vh;
}

.BleuCLairI {

    display: flex;
    flex-direction: column;
    flex: 1;

}


.BleuFonceI {

    display: flex;
    flex-direction: column;
    flex: 1;

}

.BleuClairD {
    display: flex;
    flex: 1;
    height: 10vh;
    width: 20vw;
    border: 5px solid blueviolet;
    background-color: white;

}

.BleuFonceD {
    display: flex;
    flex: 1;
    height: 20vh;
    border: 5px solid blue;
    background-color: white;


}


.espaceV {
    display: flex;
    flex: 0.2;
}

.vert {
    margin: 1em;
    height: 10vh;
    border: 5px solid green;
    background-color: white;
}